<%= render partial: "shared/header" %>

<p id="notice"><%= notice %></p>

<%= link_to 'New Simplified Chart', new_simplified_chart_path %>

<h1>Simplified Charts</h1>


<h5>公式リファレンス</h5>
<%= link_to "Ruby 2.6.0 リファレンスマニュアル ", "https://docs.ruby-lang.org/ja/latest/doc/index.html" %>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <P>- VIM -</p>
      <% @about_vims.each do |v| %>
        <tr>
          <td>
            <strong><%= v.word %></strong>
          </td></br>
          <td>
            <%= v.content %></br>
            <%= link_to "e", edit_simplified_chart_path(v.id) %>
            <%= link_to "d", simplified_chart_path(v.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td></br>
        </tr></br>
      <% end %>
    </div>
    <div class="col-lg-3">
      <P>- RUBY -</p>
      <% @about_rubys.each do |r| %>
        <tr>
          <td>
            <strong><%= r.word %></strong>
          </td></br>
          <td>
            <%= r.content %></br>
            <%= link_to "e", edit_simplified_chart_path(r.id) %>
            <%= link_to "d", simplified_chart_path(r.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td></br>
        </tr></br>
      <% end %>
    </div>
    <div class="col-lg-3">
      <P>- LINUX -</p>
      <% @about_linuxs.each do |l| %>
        <tr>
          <td>
            <strong><%= l.word %></strong>
          </td></br>
          <td>
            <%= l.content %></br>
            <%= link_to "e", edit_simplified_chart_path(l.id) %>
            <%= link_to "d", simplified_chart_path(l.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td></br>
        </tr></br>
      <% end %>
    </div>
    <div class="col-lg-3">
      <P>- GIT -</p>
      <% @about_gits.each do |g| %>
        <tr>
          <td>
            <strong><%= g.word %></strong>
          </td></br>
          <td>
            <%= g.content %></br>
            <%= link_to "e", edit_simplified_chart_path(g.id) %>
            <%= link_to "d", simplified_chart_path(g.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td></br>
        </tr></br>
      <% end %>
    </div>
  </div>
</div>

<br>
