  <div class="media">
    <img class="d-flex mr-3" src="https://shops.aeonsquare.net/img/goods/A118/C/2327951119185_1.jpg" style="width: 80px; height: 80px; margin: 20px 0 0 20px;">
    <div class="card-body">
      <h4 class="card-title">Article title</h4>
      <h6 class="card-subtitle mb-2 text-muted">Article maker name</h6>
      <p class="card-text">
        Some quick example article explain to build on the article title
        and make up the bulk of the article's content.
      </p>
      <%= link_to "Article link", href: "/", class: "card-link" %>
      <%= link_to "Edit", href: "", class: "card-link" %>
      <%= link_to "Delete", href: "", class: "card-link" %>
      <%= link_to href: "", class: "card-link" do %>
        <i class="fas fa-thumbs-up">4</i>
      <% end %>
      <%= link_to href: "", class: "card-link" do %>
        <i class="far fa-heart"></i>
      <% end %>
    </div>
  </div>
