<%= form_for @article do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :explain %><br />
    <%= f.text_field :explain %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.submit "Post" %><br />
  </div>
<% end %>
