<%= render partial: "shared/header" %>

<div class="text-right" id="app">
  <button @click="show = !show" type="button" class="btn btn-secondary btn-sm" style="margin-right: 30px;">How to markdown</button>
  <div>
    <p v-if="show">aaaa</p>
  </div>
</div>

<%# how to markdown preview %>
<script>
  var app = new Vue ({
    el: '#app',
    data: {
      show: false
    },
  });
</script>


<div class="container">
  <div class="">
    <%= form_for @article do |f| %>
      <div class="form-group">
        <%= f.label :Title %><br />
        <%= f.text_field :title, autofocus: true, class:"form-control", id:"formGroupExampleInput", placeholder:"Article Title" %>
      </div>
      <div class="form-group">
        <%= f.label :Overview %><br />
        <%= f.text_field :explain, class:"form-control", id:"formGroupExampleInput2", placeholder:"Your article overview" %>
      </div>

  <!-- content text -->
    <div class="form-group">
      <div id='editor'>
        <%= f.label :Content %><br />
        <textarea name="article[text]" id="n" class="form-control" rows="20" v-model='input' debounce='50' placeholder="Article main content">
        </textarea>
  <!-- js auto text start-->
        <label class="form-preview">Preview</label>
        <div class="card" style="height: 420px; overflow: scroll;">
          <div class="card-body">
            <div class="di_inline_t preview">
              <div v-html='input | marked' style: :"width: 650px;">
            </div>
          </div>
        </div>
  <!-- js auto text end-->
      </div>
    </div>

      <div class="form-group">
        <div class="">
          <%= f.submit "Submit", class:"btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'Back', root_path %>


<%# auto preview like qiita %>
<script type="text/javascript">
  window.onload = function() {
      new Vue({
        el: '#editor',
        data: {
        input: '<%== j @article.text %>',
      },
        filters: {
        marked: marked,
      },
    });
  };
</script>
