<%= render partial: "shared/header" %>

<%= search_form_for @search, html: { class: 'form-inline my-2 my-lg-0' } do |f| %>
  <div class="field">
    <%= f.text_field :title_cont, placeholder:"Search Article", class:"form-control mr-sm-2" %>
  </div>
  <div class="actions">
    <%= f.submit "Search", class:"btn btn-outline-success my-2 my-sm-0" %>
  </div>
<% end %>

<% if user_signed_in? %>
  <div class="article-post">
    <div class="float-left">Hello!! <%= current_user.nickname %></div>
    <button type="button" class="btn btn-outline-secondary float-right">
      <%= link_to "Article New", new_article_path %>
    </button>
  </div>
<% else %>
  <p>You can post articles, when you signup or login !!</p>
<% end %>

<% @articles.each do |article| %>
  <%= render partial: "article", locals: { article: article } %>
<% end %>
