<%= render partial: "shared/header" %>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @article.explain %>
</p>

<p>
  <strong>Content:</strong>
  <%= qiita_markdown(@article.text) %>
</p>

<%= link_to "Edit", edit_article_path(@article.id) %> |
<%= link_to 'Back', root_path %>
