<%= render partial: "shared/header" %>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @article.explain %>
</p>

<p>
  <strong>Content:</strong>
  <%= markdown(@article.text).html_safe %>
</p>

<%= link_to 'Back', root_path %>
