<%= render partial: "shared/header" %>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @article.explain %>
</p>

<p>
  <strong>Content:</strong>
  <%= markdown(@article.text).html_safe %>
</p>

<% if user_signed_in? && current_user.id == @article.user_id %>
<%= link_to "Edit", edit_article_path(@article.id) %> |
<% end %>
<%= link_to 'Back', root_path %>
